<h2>Shop List</h2>

<div class="row">
  <div class="col-12">
    <h3>Shop A</h3>
    <p>Address: .....</p>
    <a>View Detail</a>
  </div>
</div>

<section class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shop A</h5>
        <p class="card-text">Address: .....</p>
        <a [routerLink]="['/shop/detail']" class="btn btn-primary">View Detail</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shop B</h5>
        <p class="card-text">Address: .....</p>
        <a [routerLink]="['/shop/detail']" class="btn btn-primary">View Detail</a>
      </div>
    </div>
  </div>
</section>
